CREATE DATABASE [ExplorerBeyond]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExplorerBeyond', FILENAME = N'E:\My\SDK\ExplorerBeyond\db\ExplorerBeyond.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ExplorerBeyond_log', FILENAME = N'E:\My\SDK\ExplorerBeyond\db\ExplorerBeyond_log.ldf' , SIZE = 2048KB , FILEGROWTH = 10%)
GO
USE [ExplorerBeyond]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [ExplorerBeyond] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
